@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Registration</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=DM+Sans:wght@500&family=Heebo&family=KoHo:wght@600&family=M+PLUS+Rounded+1c:wght@500&family=Noto+Sans+JP:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Source+Code+Pro:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Styles/register.css">

</head>

<body>
    <div class="header">

        <a href="/">SHOP NOW</a>
        <a href="/aboutus">ABOUT US</a>
        <div class="dropdown">
            <button class="dropbtn">CUSTOMER SUPPORT</button>
            <div class="dropdown-content" style="opacity: 1;margin-left: 12px;">
                <a href="/privacy"><i class="fas fa-shield-check"></i>&nbsp;&nbsp; Privacy and Security</a>
                <a href="/contact"><i class="fas fa-user-headset"></i>&nbsp;&nbsp; Contact Us</a>
                <a href="/order"><i class="fas fa-box"></i>&nbsp;&nbsp; Order</a>
                <a href="/shipping"><i class="fas fa-truck"></i>&nbsp;&nbsp; Shipping & Delivery</a>
                <a href="/payment"><i class="fab fa-cc-visa"></i>&nbsp;&nbsp; Payment</a>
                <a href="/return"><i class="fas fa-undo-alt"></i>&nbsp;&nbsp; Return</a>
            </div>
        </div>
        <a href="#">SELL ON BIG BAZAR</a>
        <a href="/login">LOGIN</a>
        <a href="/register"> SIGNUP</a>

    </div>
    <div class="navbar" id="navbar">
        <a href="/"><img style="padding: 12px 0px 0px 10px; width:60%;border:none" src="~/logo.png" alt=""></a>
        <div class=" dropdown">
            <button class="dropbtn" style="margin-left: -30%;"> All Categories <i class="fas fa-angle-down"></i></button>
            <div class="dropdown-content">
                <a href="/technology"><i class="fas fa-laptop"></i>&nbsp;&nbsp; Technology</a>
                <a href="/automobiles"><i class="fas fa-car"></i>&nbsp;&nbsp; Automobiles</a>
                <a href="/homeappliance"><i class="fas fa-tv"></i>&nbsp;&nbsp; Home Appliances</a>
                <a href="/pets"><i class="fas fa-cat"></i>&nbsp;&nbsp; Pets</a>
                <a href="/clothing"><i class="fas fa-tshirt"></i>&nbsp;&nbsp; Clothing</a>
                <a href="/lifestyle"><i class="fas fa-watch"></i>&nbsp;&nbsp; Lifestyle</a>
            </div>
        </div>
        <div class="navcat">
            <a href="/clothing">Clothing</a>
            <a href="/lifestyle">Lifestyle</a>
            <a href="/technology">Technology</a>
            <a href="/automobiles">Automobiles</a>
        </div>
    </div>


    <div class="container">
        <img style=" width:100%; height:1650px" src="~/banner5.png" alt="">
        <div class="sub-container">
            <div class="right-container">
                <img src="~/register2.png" style="width:350px;" alt="">
                <div class="content">
                    <p class="heading">Welcome to Big Bazaar</p>
                    <hr style="border-bottom: 3px solid green;border-radius: 5px;width:80%; margin-bottom:20px;margin-top: 5px;">
                    <p class="tagline">Transforming shopping into an experience.</p>
                </div>
                <img src="~/register.png" style="width:350px; margin: 290px 0px 0px 160px" alt="">
            </div>
            <div class=" left-container">

                <form action='/Register/Register' method="POST" onSubmit="return checkPassword()" >

                    <div style="padding-top: 10px; margin-left:25%;">
                        <h1 style="font-family: 'M PLUS Rounded 1c', sans-serif;">Sign Up</h1>

                    </div>

                    <div class="input-container" style="margin-top:40px">
                        <label for="username">
                            <h4 style="font-family: 'Heebo', sans-serif;">User Name <sup><i style="font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>
                        <div class="input-container-style">
                            <i class="fa fa-user icon" style="font-size:30px;"></i>&nbsp;&nbsp;
                            <input type="text" placeholder="Please enter your user name" name="username" id=username required>
                        </div>
                    </div>

                    <div class="input-container" style="margin-top:40px">
                        <label for="email">
                            <h4 style="font-family: 'Heebo', sans-serif;">Email Address <sup><i style="font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>
                        <div class="input-container-style">
                            <i class="fa far fa-envelope icon" style="font-size:30px;"></i>&nbsp;&nbsp;
                            <input type="email" placeholder="Please enter your email address" name="email" id=email required>
                        </div>
                    </div>
                    <div class="input-container" style="margin-top:40px;">
                        <label for="dob">
                            <h4 style="font-family: 'Heebo', sans-serif;">Date of Birth <sup><i style="font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>
                        <div class="input-container-style">
                            <i class="far fa-calendar" style="font-size: 30px;"></i> &nbsp;&nbsp;
                            <input type="date" name="dob" id=dob required>
                        </div>
                    </div>
                    <div class="input-container" style="margin-top:40px">
                        <label>
                            <h4 style=" font-family: ' Heebo' , sans-serif;">Gender <sup><i style=" font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>

                        <div class="input-container-style">
                            <i class=" fas fa-venus" style="font-size: 30px;"></i>
                            <i class="fas fa-mars" style="font-size: 30px;"></i> &nbsp;&nbsp;
                            <input style="width:10%; margin: 3px 0px 23px -5px;" type="radio" id="male" name="gender" value="male">
                            <label style=" margin-top: 10px; margin-left: -5px;" for=" male">Male</label>
                            <input style="width:10%; margin: 3px 0px 23px 0px;" type="radio" id="female" name="gender" value="female">
                            <label style="margin-top: 10px; margin-left: -5px;" for="female">Female</label>
                            <input style="width:10%; margin: 3px 0px 23px 0px" type="radio" id="other" name="gender" value="other">
                            <label for="other">Other</label>

                        </div>
                    </div>

                    <div class=" input-container" style="margin-top:40px">
                        <label for="custadd">
                            <h4 style="font-family: 'Heebo', sans-serif;">Customer Address <sup><i style="font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>
                        <div class="input-container-style">
                            <i class="fa fa-user icon" style="font-size:30px;"></i>&nbsp;&nbsp;
                            <input type="text" placeholder="Please enter your address" name="custadd" id=custadd required>
                        </div>
                    </div>

                    <div class="input-container" style='margin-top:40px'>
                        <label for="pswd">
                            <h4 style="font-family: 'Heebo', sans-serif;">Password <sup><i style="font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>
                        <div class="input-container-style">
                            <i class=" fa fa-lock icon" style="font-size: 30px;"></i> &nbsp;&nbsp;
                            <input type="password" placeholder="Please enter your Password" name="psw" id=psw title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" pattern="(? =.*\d)(? =.*[a-z])(? =.*[A-Z]).{6,}" required>
                        </div>
                    </div>

                    <div class="input-container" style='margin-top:40px'>
                        <label for="pswd">
                            <h4 style="font-family: 'Heebo', sans-serif;">Re-Enter Password <sup><i style="font-size:8px;" class="fas fa-star-of-life"></i></sup></h4>
                        </label>
                        <div class="input-container-style">
                            <i class=" fa fa-lock icon" style="font-size: 30px;"></i> &nbsp;&nbsp;
                            <input type="password" placeholder="Please re-enter your Password" name="repsw" id=repsw required>
                        </div>
                    </div>

                    <button class="signin" type="submit">Sign Up</button>


                    <div class="input-container spc" style="padding-right: 140px;">
                        <h4 class="pass">
                            <center style="font-family: 'DM Sans', sans-serif; font-size: 13px;">Already have an account? Please Sign In</center> <br> <br>
                            <center>
                                <button class="pass-btn"><a style="text-decoration: none;color: white;" href="/login">CLICK ME !</a></button>
                            </center>
                        </h4>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <script>
        function checkPassword() {
            var1 = document.getElementById("psw");
            var2 = document.getElementById("repsw");
            if (var1.value != var2.value) {
                alert("Passwords do not match, please try again :(");
                return false;
            }
        }
        
    </script>

    <div class="footers">
        <footer style="text-align: left;">
            &copy; Copyright 2021 <span style="color:#ccf2f4; font-size:18px;font-family: 'Heebo', sans-serif;">BIG BAZAAR</span>
            <span style="padding-left: 1170px;">

                <a href="#">
                    <i style="color: white; font-size:20px;" class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i style="color: white; font-size:20px;" class="fab fa-linkedin"></i>
                </a>

                <a href="#">
                    <i style="color: white; font-size:20px" class="fab fa-facebook"></i>
                </a>

                <a href="#">
                    <i style="color: white; font-size:20px" class="fab fa-medium"></i>
                </a>

            </span>
        </footer>

    </div>


    <script>
        window.onscroll = function () {
            myFunction()
        };

        var header = document.getElementById("navbar");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>

</body>

</html>