* {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 10px 10px 5px #474a56;
}

.header {
    width: 100%;
    height: 35px;
    background-color: #292725;
    color: white;
    display: flex;
    justify-content: center;
}

    .header a {
        text-decoration: none;
        color: white;
        padding: 0px 15px 0px 15px;
        margin: 10px 30px 0px 0px;
        font-size: 15px;
        font-family: 'DM Sans', sans-serif;
    }


        .dropdown-content a:hover,
        .dropbtn:hover,
        .navcat a:hover,
        .header a:hover {
            border-radius: 15px;
            border-bottom: 4px solid #77acf1;
        }

a:hover img {
    border-color: red;
}

.header .dropbtn {
    background-color: #292725;
    color: white;
    padding: 0px 15px 0px 15px;
    margin: 10px 30px 0px 0px;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
}




.dropbtn {
    background-color: white;
    color: black;
    margin: 10px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
    font-size: 23px;
    border: none;
    font-family: 'KoHo', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: -40%;
    opacity: 0.9;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        width: 66%;
        padding: 12px 40px;
        font-size: 13px;
        text-decoration: none;
        display: block;
        font-family: 'DM Sans', sans-serif;
    }


.dropdown:hover .dropdown-content {
    display: block;
}


.navbar {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.navcat {
    margin: 10px -50px 0px 0px;
}

    .navcat a {
        background-color: white;
        color: black;
        font-size: 23px;
        text-decoration: none;
        font-family: 'KoHo', sans-serif;
        margin-right: 70px;
        padding: 0px 15px 0px 15px;
    }



.footers {
    text-align: center;
    background-color: #292725;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding-top: 0px;
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    position: fixed;
}

.container {
    width: 80%;
    margin-left: 14%;
    margin-bottom: 150px;
}

    .container .banner img {
        width: 100%;
    }

.product {
    width: 29%;
    height: 420px;
    margin-left: 3%;
    margin-top: 4%;
    display: inline-block;
}

    .product img {
        width: 250px;
        height: 250px;
    }

.hide {
    display: none;
}

.product:hover {
    height: 500px;
    box-shadow: 10px 10px 5px #bbe1fa;
}

.div-hover:hover + .hide {
    display: block;
    color: red;
}

.content button {
    background-image: linear-gradient(72.1deg, rgba(0, 0, 128, 1) 1.7%, rgba(100, 149, 237, 1) 99.1%);
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin-left: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
}

    .content button:hover {
        opacity: 0.8;
        box-shadow: 7px 7px 5px 0px #233e8b;
    }



.dropdown-search-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: -40%;
    padding-left: 10px;
    opacity: 0.9;
    z-index: 1;
}

    .dropdown-search-content input {
        color: black;
        font-size: 13px;
        font-family: 'DM Sans', sans-serif;
        border: none;
    }


.dropdown-search:hover .dropdown-search-content {
    display: block;
}


.dropbtn-search {
    background-color: white;
    color: black;
    margin: 10px 0px 20px 0px;
    padding: 0px 30px 0px 0px;
    font-size: 23px;
    border: none;
    font-family: 'KoHo', sans-serif;
}

.dropdown-search {
    position: relative;
    display: inline-block;
}

.dropbtn-search i {
    position: absolute;
    z-index: -1;
}

.search .search-input {
    border: none;
    font-size: 14px;
    width: 95%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 10px 0px 5px 0px;
    margin: 5px 0px 10px 5px;
}

    .search .search-input:focus {
        outline: none;
    }

.search {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}


.search-bar {
    width: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.search-submit {
    width: 10%;
    font-size: 16px;
    border: 1px solid black;
    background: rgb(152, 178, 255);
    background: linear-gradient(0deg, rgba(152, 178, 255, 1) 0%, rgba(231, 244, 255, 1) 100%);
}
