* {
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 10px 10px 5px #474a56;
}

.header {
    width: 100%;
    height: 35px;
    background-color: #292725;
    color: white;
    display: flex;
    justify-content: center;
}

    .header a {
        text-decoration: none;
        color: white;
        padding: 0px 15px 0px 15px;
        margin: 10px 30px 0px 0px;
        font-size: 15px;
        font-family: 'DM Sans', sans-serif;
    }


        .dropdown-content a:hover,
        .dropbtn:hover,
        .navcat a:hover,
        .header a:hover {
            border-radius: 15px;
            border-bottom: 4px solid #77acf1;
        }

a:hover img {
    border-color: red;
}

.header .dropbtn {
    background-color: #292725;
    color: white;
    padding: 0px 15px 0px 15px;
    margin: 10px 30px 0px 0px;
    font-size: 15px;
    font-family: 'DM Sans', sans-serif;
}




.dropbtn {
    background-color: white;
    color: black;
    margin: 10px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
    font-size: 23px;
    border: none;
    font-family: 'KoHo', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: -40%;
    opacity: 0.9;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        width: 66%;
        padding: 12px 40px;
        font-size: 13px;
        text-decoration: none;
        display: block;
        font-family: 'DM Sans', sans-serif;
    }


.dropdown:hover .dropdown-content {
    display: block;
}


.navbar {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.navcat {
    margin: 10px -50px 0px 0px;
}

    .navcat a {
        background-color: white;
        color: black;
        font-size: 23px;
        text-decoration: none;
        font-family: 'KoHo', sans-serif;
        margin-right: 70px;
        padding: 0px 15px 0px 15px;
    }



.footers {
    text-align: center;
    background-color: #292725;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    padding-top: 0px;
    font-size: 17px;
    font-family: 'DM Sans', sans-serif;
    position: fixed;
}

.container {
    z-index: -1;
    position: absolute;
    margin-top: 12px;
    width: 100%;
    height: 1500px;
}

.sub-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 49%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.right-container {
    width: 600px;
    height: 1150px;
    background: rgb(0, 24, 156);
    background: linear-gradient(0deg, rgba(0, 24, 156, 1) 0%, rgba(77, 101, 230, 1) 50%, rgba(48, 80, 255, 1) 100%);
}


.line-container {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    width: 100%
}

.signin {
    background-image: linear-gradient(72.1deg, rgba(0, 0, 128, 1) 1.7%, rgba(100, 149, 237, 1) 99.1%);
    color: white;
    padding: 10px 10px;
    margin: 8px 0px 10px 10%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 50%;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
}


    .signin:hover {
        opacity: 0.8;
        box-shadow: 7px 7px 5px 0px #233e8b;
    }

/*design for password button*/

.pass-btn {
    border: solid;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 84, 166, 1) 0%, rgba(132, 189, 201, 1) 90%);
    border-radius: 10px;
    font-size: 13px;
    margin: -10px 50px 10px 10%;
    border: none;
    padding: 8px 10px;
    font-family: 'KoHo', sans-serif;
}

    .pass-btn:hover {
        box-shadow: 7px 7px 5px 0px #6379b4;
    }

.left-container {
    background-color: white;
    color: black;
    width: 650px;
    font-size: 15px;
    font-family: 'KoHo', sans-serif;
    padding-left: 15%;
}

.input-container {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 10%;
}


.input-container-style input {
    border: none;
    font-size: 14px;
    width: 80%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 10px 0px 5px 0px;
    margin: 5px 0px 10px 5px;
}


    .input-container-style input:focus {
        outline: none;
    }

.input-container-style i {
    padding: 10px 0px 5px 0px;
    margin-left: 5px;
    font-size: 22px;
}

.input-container-style {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.heading {
    margin-top: 50%;
    font-size: 40px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


.tagline {
    font-size: 24px;
    font-family: 'Crimson Text', serif;
}
